@using MudBlazor
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Stock Replenishment (SRQ)</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<MudNavLink Href="/requests" Match="NavLinkMatch.All">
    Requests
</MudNavLink>

